
body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: #ddd;
  font-family: 'Georgia', serif;
  background-image: url('images/Hero_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}
